
<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3"> Comments (15,256)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0"> John Doe</h6>
      <small class="text-danger">Last Updated - Feb 10, 2026</small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, esse dolor! Deserunt soluta, voluptas nobis ratione, ipsa animi alias quos corrupti pariatur quibusdam provident cupiditate! Voluptatem libero dicta esse sapiente.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, ut. Ipsum, iure pariatur dolor et porro assumenda magnam aut ullam? Vel doloribus rem animi optio laudantium autem culpa architecto consequuntur!
      </div>

      <a href="#" class="mt-1 no-underline">Reply</a>
      <a href="#" class="mt-1 ms-3 no-underline">View Reply</a>

      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0"> John Doe</h6>
      <small class="text-danger">Last Updated - Feb 10, 2026</small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, esse dolor! Deserunt soluta, voluptas nobis ratione, ipsa animi alias quos corrupti pariatur quibusdam provident cupiditate! Voluptatem libero dicta esse sapiente.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, ut. Ipsum, iure pariatur dolor et porro assumenda magnam aut ullam? Vel doloribus rem animi optio laudantium autem culpa architecto consequuntur!
      </div>

      <a href="#" class="mt-1 no-underline">Reply</a>
      <a href="#" class="mt-1 ms-3 no-underline">View Reply</a>

      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0"> John Doe</h6>
      <small class="text-danger">Last Updated - Feb 10, 2026</small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, esse dolor! Deserunt soluta, voluptas nobis ratione, ipsa animi alias quos corrupti pariatur quibusdam provident cupiditate! Voluptatem libero dicta esse sapiente.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, ut. Ipsum, iure pariatur dolor et porro assumenda magnam aut ullam? Vel doloribus rem animi optio laudantium autem culpa architecto consequuntur!
      </div>

      <a href="#" class="mt-1 no-underline">Reply</a>
      <a href="#" class="mt-1 ms-3 no-underline">View Reply</a>

      <hr>
    </div>
  </div>
</div>