<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/260931/pexels-photo-260931.jpeg?_gl=1*1usb5vs*_ga*MTg0NDQ0Nzk3MC4xNzcwNzAxOTgy*_ga_8JE65Q40S6*czE3NzA3MTIxNTIkbzIkZzEkdDE3NzA3MTI4OTYkajM2JGwwJGgw" alt="" class="card-img-top img-fluid">

        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2">Views - 100,256</small>
          <small class="bg-light text-warning text-center ms-2">Last UPDATED- FEB 10, 2026</small>

          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2026 EDITED NEW CATEGORY</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur rerum hic tempore qui laudantium ab. Iure nobis non possimus atque necessitatibus tenetur blanditiis aliquid nam? Harum facilis impedit provident vel!</p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>